[submodule "01-programming-languages/01 Languages/c-cpp/CwithKNKing"]
	path = 01-programming-languages/c-cpp/CwithKNKing
	url = https://github.com/mjacker/CwithKNKing.git
[submodule "10 Web Development/php-samples"]
	path = 10 Web Development/php-samples
	url = https://github.com/mjacker/php-samples.git
[submodule "Docker/docker-samples"]
	path = Docker/docker-samples
	url = git@github.com:mjacker/docker-samples.git
[submodule "mjscripts"]
	path = 00mjscripts
	url = https://github.com/mjacker/mjscripts.git
